<html xmlns:th="http://www.w3.org/1999/xhtml">
<header th:fragment="header">

        <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

        <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

        <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SRSS</title>
</header>
<body>

</body>
</html>