<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/header :: header"/>
</head>
<body>

<div th:replace="fragments/menu :: menu"/>

<div class="container">
    <h1>Formularz dodawania samochodu</h1>
    <form action="#" th:action="@{/dodajSamochod}" th:object="${samochod}" method="post">
        <p>Marka: <input type="text" th:field="*{marka}" /></p>
        <p>Model: <input type="text" th:field="*{model}" /></p>
        <p>Liczba miejsc: <input type="text" th:field="*{liczbaMiejsc}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>

</body>
</html>