<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/header :: header"/>
</head>
<body>

<div th:replace="fragments/menu :: menu"/>

<div class="container">
    <h1>Formularz edycji pracownika</h1>
    <form th:object="${pracownik}" method="post" id="edytujFormularz">
        <p>Imię: <input type="text" th:field="*{imie}" th:value="${pracownik.imie}"/></p>
        <p>Nazwisko: <input type="text" th:field="*{nazwisko}" th:value="${pracownik.nazwisko}"/></p>
        <p>Mail: <input type="email" th:field="*{mail}" th:value="${pracownik.mail}"/></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>


</body>
</html>