<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/header :: header"/>
</head>
<body>

<div th:replace="fragments/menu :: menu"/>

<div class="container">
    <div class="starter-template">
        <h1>Lista pracowników</h1>
        <div class="container">
            <a href="/dodajPracownik" class="btn btn-success" role="button" aria-pressed="true">Dodaj</a>
        </div>
        <table class="table table-hover">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Mail</th>
                <th scope="col">Akcja</th>
            </tr>
            <tr th:each="apracownik : ${pracownik}">
                <td th:text="${apracownik.id}"></td>
                <td th:text="${apracownik.imie}"></td>
                <td th:text="${apracownik.nazwisko}"></td>
                <td th:text="${apracownik.mail}"></td>
                <td>
                    <a th:href="'/edytujPracownik/' + ${apracownik.id}" class="btn btn-primary" role="button" aria-pressed="true">Edytuj</a>
                    <a th:href="'/usunPracownik/' + ${apracownik.id}" class="btn btn-warning" role="button" aria-pressed="true">Usuń</a>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>