<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/header :: header"/>
</head>
<body>

<div th:replace="fragments/menu :: menu"/>

<div class="container">
    <div class="starter-template">
        <h1>Lista samochodów</h1>
        <div class="container">
        <button type="button"><a href="/dodajSamochod">Dodaj</a></button>
        </div>
        <table class="table table-hover">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Marka</th>
                <th scope="col">Model</th>
                <th scope="col">Liczba miejsc</th>
                <th scope="col">Akcja</th>
            </tr>
            <tr th:each="samochod : ${samochody}">
                <td th:text="${samochod.id}"></td>
                <td th:text="${samochod.marka}"></td>
                <td th:text="${samochod.model}"></td>
                <td th:text="${samochod.liczbaMiejsc}"></td>
                <td>
                    <button type="button"><a th:href="'/edytujSamochod/' + ${samochod.id}">Edytuj</a></button>
                    <button type="button"><a th:href="'/usunSamochod/' + ${samochod.id}">Usuń</a></button>
                    <button type="button"><a th:href="'/dodajRezerwacja/' + ${samochod.id}">Dodaj rezerwację</a></button>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>