<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/header :: header"/>
</head>
<body>

<div th:replace="fragments/menu :: menu"/>

<div class="container">
    <div class="starter-template">
        <h1>Lista samochodów</h1>
        <div class="container">
        <a href="/dodajSamochod" class="btn btn-success" role="button" aria-pressed="true">Dodaj</a>
        </div>
        <table class="table table-hover">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Marka</th>
                <th scope="col">Model</th>
                <th scope="col">Liczba miejsc</th>
                <th scope="col">Akcja</th>
            </tr>
            <tr th:each="samochod : ${samochody}">
                <td th:text="${samochod.id}"></td>
                <td th:text="${samochod.marka}"></td>
                <td th:text="${samochod.model}"></td>
                <td th:text="${samochod.liczbaMiejsc}"></td>
                <td>
                    <a th:href="'/edytujSamochod/' + ${samochod.id}" class="btn btn-primary" role="button" aria-pressed="true">Edytuj</a>
                    <a th:href="'/usunSamochod/' + ${samochod.id}" class="btn btn-warning" role="button" aria-pressed="true">Usuń</a>
                    <a th:href="'/dodajRezerwacja/' + ${samochod.id}" class="btn btn-info" role="button" aria-pressed="true">Dodaj rezerwację</a>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>